<p>retro works!</p>
<div class="retro-container">
  <app-badge-toast></app-badge-toast>
  
  <div class="crt-overlay"></div> <!-- Scanlines effect -->

  <nav class="retro-nav">
    <div class="blink">>> SYSTEM_READY</div>
    <a routerLink="/" class="btn-modern">[ SWITCH_TO_MODERN_UI ]</a>
  </nav>

  <main class="retro-main">
    <h1 class="pixel-text">TIME TRAVEL MODE</h1>
    <p>INITIATING AUDIO PROTOCOL...</p>
    
    <div class="retro-box">
      <app-visualizer mode="retro" [width]="800" [height]="300"></app-visualizer>
    </div>

    <div class="stats-box">
      <p>USER_SCORE: {{ gameService.points() }}</p>
      <p>COMMUNITY_DATA: {{ gameService.communitySeconds() }}</p>
    </div>
  </main>
</div>